/* Add a black background color to the top navigation */
.topnav {
  background-color: #44a7ea;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eee;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

h2 {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.tabella {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background-color: #222;
  color: #eee;
  font-family: Arial, sans-serif;
  position: relative; /* default */
  z-index: 1;

  .section h3 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
  }
}
.tabella-tras {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  color: #333;
  font-family: Arial, sans-serif;
  position: relative; /* default */
  .section h3 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
  }
}

.tabella p {
  margin: 3px 0;
  font-size: 14px;
}

@media (max-width: 600px) {
  .tabella {
    flex-direction: column;
    text-align: center;
  }
}

.center {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-align: center;
}
